body {
    background-color: lightgrey;
}
footer {
    background-color: grey;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
}
.footertop {
    width: 100%;
    display: block;
    text-align: center;
}
.footerleft {
    width: 50%;
    float: left;
    bottom: 0;
    background-color: lightseagreen;
    display: inline-block;
    text-align: center;
}
.footerright {
    width: 50%;
    float: right;
    background-color: lime;
    display: inline-block;
    text-align: center;
}
.footerbottom {
    width: 100%;
    text-align: center;
    background-color: yellow;
}
/*Navigation Classes*/
    .navigation {
        color: white;
        background-color: black;
        width: 100%;
        top: 0;
        left: 0;
        position: sticky;
    }
    .nav-option {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        float: left;
        display: block;
        text-decoration: none;
    }
    .nav-option:hover {
        background-color: white;
    }
    li {
        float: left;
        list-style-type: none;
        display:  block;
        padding: 0;
        margin: 0;
    }